.container {
    display: flex;
    border: 1px solid black;

    // flex-direction: row;
    // flex-wrap: wrap;
    
    flex-flow: row wrap;
    flex-shrink: 1;
    justify-content: center;
    
    gap: 10px; 
}

.poster {
    max-width: 19%;
    // margin: 5px;
}

// column-gap: — раздвигает только колонки.
// gap: — раздвигает и колонки и ряды.

// flex-basis: Устанавливает базовую ширину элемента 