$primary-color: white;
$background-color: #4e4e4e;

header {
    display: flex;
    justify-content: space-between;

    color: $primary-color;
    background-color: $background-color; 
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}